.btnn {
    border-radius: 24px;
    border: 1px solid #36536B;
    padding: 15px 28px;
    background-color: none;

    a {
        color: #36536B;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
    }
}